* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  width: 100%;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e3e3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: black;
  transition: 0.3s ease;
}
#navbar li a :hover,
#navbar li a.active {
  color: #088178;
}
#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
/* home page */
#hero {
  background-image: url("hero\ image.jpg");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h3 {
  padding-bottom: 15px;
}
#hero h1 {
  color: #0a74da;
}
#hero button {
  background-color: #0a74da;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

#hero button:hover {
  background-color: #095cb5;
  transform: scale(0.09);
}
